@import url(//fonts.googleapis.com/css?family=Montserrat:400,700);

.navbar-brand{
    font-size: 24px;
    color: #fff;
}
.navbar-nav .nav-link {
    font-size: 14px;
    gap: 240px;
    color: #fff;
}
.btn-red{
    background-color: #FF6551;
    border-radius: 5px;
    border: 0;
}
.btn-red:hover{
    background-color: #3de960;
}
.main-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 112px;
    color: #fff;
    z-index: 88;
    position: relative;

}
.bgc{
        background-image: url('./images/hero-2-cover.png');
        font-weight: 400;
        line-height: 20px;
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
    }
    .bgc::after{
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        pointer-events: none;
        background: rgba(0, 0, 0, 0.4);    }
    .main-content .span{
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;

    }
    .main-content h1{
        font-size: 58px;
        font-weight: 700;
        color: #fff;
        width: 542px;
        text-align: center;
    }
    .main-content p{
        font-size: 21px;
        width: 513px;
        line-height: 30px;
        text-align: center;
    }
    .text h6{
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
        color: #FF6551;
    }
    .text{
        margin-bottom: 80px;
    }
    .text h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
    }
    .text p{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        
    }
    .mt-160{
        margin-top: 160px;
    }
    .card1{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    padding: 35px;
 }
.card1 h2{
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}   
    .line{
        width: 50px;
        height: 2px;
        background-color: red;
    }
    .card1 figure{
        border-radius: 10px;
        padding: 22px 19px;
        background-color: #B6D7FF;
    }
    .box1 figure{
        border-radius: 10px;
        padding: 22px 19px;
        background-color: #DDEEFE;
    }
    .box2 figure{
        border-radius: 10px;
        padding: 22px 19px;
        background-color: #F9FDFF;
    }
    .matters{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 35px;
    }
    .client h2{
        font-size: 40px;
    font-weight: 700;
    line-height: 50px;
    } 
    .client p{
        font-size: 14px;
        width: 309px;
        line-height: 20px;
    }
    .client h6{
        font-size: 14px;     
        font-weight: 700;
        line-height: 24px;
        color:  #FF6551;
    }
    .client-bg{
       background-color:  #26335D;
    }
    .client-bg{
        height: 100vh;
        display: flex;
    justify-content: center;
    flex-direction: column;
    }
    .sale-box-courses p i{
        color: #FFCE31;
    }
    .sale-box-courses{
        display: flex;
    justify-content: space-between;
    align-items: center;
    }
    .sale-box-courses p{
        background-color: #26335D;
    border-radius: 20px;
    display: flex;
    padding: 5px;
    align-items: center;
    gap: 5px;
    font-size: 12px;
    line-height: 1;
    }
    .card-body{
        display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    }
    .card-body a{
        display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border: 1px solid;
    border-radius: 37px;
    border-color: #FF6551;
    }
    .salebox .card-body p{
        font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #737373;
    }
    .salebox .card-body h6{
        font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #737373;
    gap: 10px;
    }
    .card-body .salebox .prices-b{
        gap: 10px;
    }
    .salebox a {
        display: flex;
    padding: 10px 20px;
    align-items: center;
    gap: 10px;
    border-radius: 37px;
    border-color: #FF6551;
    }
    .iconee{
        position: relative;
    }
    .iconee .icone1{
        bottom: 0;
        position: absolute;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .iconee h6{
        position: absolute;
    top: 6%;
    left: 4%;
    }
    .iconee i{
        background-color: #fff;
        width: 40px;
        height: 40px;
        display: inline-flex;  
        align-items: center;
        justify-content: center;
        border-radius: 200px;
      }
      .textPrimary{
        color: #FF6551;
      }
      .card-body .price-a{
       color: #BDBDBD;
       font-size: 16px;
       font-weight: 700;
       line-height: 24px;
       margin-inline-end: 5px;
      }
      .card-body .price-b{
        color: #2435A1;
        font-size: 16px;
        font-weight: 700;
line-height: 24px; 
      }
    
    .stars-text{
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
    }
   .starsss{
    display: flex;
    width: 348px;
    padding: 25px;
    flex-direction: column;
    align-items: center;
    }
    .starss-card p{
        margin-top: 15px;
        font-weight: 400;
line-height: 20px;
font-size: 14px;
width: 159px;
    }
    .regina{
        display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15px;
    }
    .reginaText h6{
        color:  #FF6551;
        font-size: 14px;
        font-weight: 700;
        line-height: 24px;
    }
    .reginaText span{
        font-size: 12px;
        color: #252B42;
        font-weight: 400;
line-height: 16px;
    }
    .userCover img{
       border-top-right-radius: 25px;
        border-top-left-radius: 25px; 
        width: 238px;
height: 231px;
    }
    .userCover .card-body{
        display: flex;
    flex-direction: column;
    align-items: center;
    width: 232px;
padding: 30px;
gap: 0px;
    }
    .userCover .user-icon{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .user-icon i{
        width: 24px;
    height: 24px;
    flex-shrink: 0;
    color: #FF6551;
    }
    .userCard h5{
        color: #252B42;
        font-size: 16px;
        font-weight: 700;
line-height: 24px;
    }
    .userCard p{
        font-size: 12px;
        font-weight: 400;
        line-height: 16px;
        color: #737373;
    }
    .userCover .userCard{
        border-radius: 20px;
    box-shadow: 0px 13px 19px 0px rgba(0, 0, 0, 0.07);
    }
    .userCover{
        display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    }
    .textNew{
        display: flex;
    flex-direction: column;
    align-items: center;
    }
    .textNew h6{
        font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: #FF6551;
    }
    .textNew h2{
        font-size: 40px;
        font-weight: 700;
        line-height: 50px;
        color: #252B42;
    }
    .textNew p{
        color: #737373;
        font-size: 14px;
        font-weight: 400;
        line-height: 20px;
        text-align: center;
        width: 400px
    }
    .textNew-form{

height: 58px;
margin-top: 80px;
    }
    input[type=text]:focus {
        border: 3px solid #FF6551;
        box-shadow: none;
    }
 
 .link{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
 }
 footer h5{
    font-size: 16px;
    margin-bottom: 20px;
    font-weight: 700;
line-height: 24px;
color: #252B42;
 }
 .iconColor{
    font-size: 24px;
    flex-shrink: 0;
    color: #FF6551;
    line-height: 1;
}
.footer-icons a{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}
.footer-icons{
    gap: 10px;
}
footer ul li a{
    font-size: 14px;
    color: #737373;
    font-weight: 700;
    line-height: 24px;
 }
 .footer-icons ul{
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: flex-start;
 }
 .reserved{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
 }
 .reserved span{
    font-size: 14px;
    color: #737373;
    font-weight: 700;
    line-height: 24px;
}

.col-md-4 .div1{
    text-align: center;
    padding-bottom: 50px;
    border-right: 1px dashed black;
  }
  
  .col-md-4 .div1:last-child {
    border-right: 0px solid black;
  }
  
  .counter {
    animation-duration: 1s;
    animation-delay: 0s;
  }
  
  i {
    font-size: 20px !Important;
  }
  
  @media (max-width: 991px) {
    .col-md-4 .div1 {
      border-right: 0px dashed black;
      border-bottom: 1px dashed black;
      width: 50%;
      margin: auto auto;
    }
    
    .col-md-4 .div1:last-child {
      border-bottom: 0px dashed black;
    }
  }